.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.services-title {
    position: relative;
}

.services-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.services-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.services-format {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.services-format h3 {
    font-size: 28px;
    font-weight: 600;
}

.services-format h2 {
    font-size: 38px;
    font-weight: 800;
    /* background: linear-gradient(270deg, var(--origColor1) 50%, var(--origColor2) 100%); */
    background: linear-gradient(270deg, var(--flOrange) 50%, var(--flBlue) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format p {
    /* color: var(--servicesParaColor); */
    color: var(--contactLabelColor);
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.services-readmore {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    /* align-items: flex-end; */
}

.services-format:hover {
    /* border: 2px solid var(--latestColor1); */
    border: 2px solid var(--flBlue);
    /* background-image: linear-gradient(45deg, var(--serviceColor1), var(--serviceColor2)); */
    background-image: linear-gradient(45deg, grey, black);
    transform: scale(1.05);
    transition: 0.4s;
}

@media(max-width: 768px) {
    .services {
        gap: 70px;
        margin: 20px 70px;
        align-items: start;
    }

    .services-title h1 {
        font-size: 50px;
        padding: 0px;
    }

    .services-title img {
        /* width: 130px; */
        margin-right: -40px;
        /* height: 50%; */
        /* width: 50%; */
        /* right: -20px; */
    }

    .services-format {
        gap: 20px;
        padding: 32px;
    }

    .services-format h2 {
        font-size: 28px;
    }

    .services-format p {
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }

    .services-readmore img {
        width: 20px;
    }

    .services-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

}