.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    /* margin-bottom: 80px; */
}

.home img {
    margin-top: 100px;
    border-radius: 50%;
}

.home h1 {
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}

.home h1 span {
    /* background: linear-gradient(270deg, var(--origColor1) 10%, var(--origColor2) 100%); */
    background: linear-gradient(270deg, var(--flOrange) 10%, var(--flBlue) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.home-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.home-connect {
    padding: 25px 45px;
    border-radius: 50px;
    /* background: linear-gradient(264deg, var(--origColor1) -5.09%, var(--origColor2) 106.28%); */
    background: linear-gradient(264deg, var(--flOrange) -5.09%, var(--flBlue) 106.28%);
    cursor: pointer;
}

.home-connect:hover {
    border: 2px solid white;
}

.home-resume {
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}

.home-resume a {
    text-decoration: none;
    color: white;
}

.home-resume:hover {
    /* border-color: var(--origColor2); */
    border-color: var(--flBlue);
}

@media(max-width: 768px) {
    .home img {
        margin-top: 120px;
        width: 260px;
    }

    .home h1 {
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }

    .home p {
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }

    .home-action {
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .home-connect {
        padding: 20px 30px;
        border-radius: 40px;
    }

    .hero-resume {
        padding: 20px 50px;
        border-radius: 40px;
    }
}